.new-good-form-container {
  padding: 0 20px;
}

.new-good-form-paper {
  padding: 30px;
  max-width: 900px;
  margin: 30px auto 0;
}

.new-good-form {
  width: 100%;
  margin: 0;
}

.new-good-img-preview {
  max-width: 180px;
  max-height: 120px;
}

.good-form-delete-image span {
  margin: 0;
}

.new-manufacture-model-form-modal {
  min-width: 510px;
  padding: 25px;
}

.new-manufacture-model-form-modal-title {
  text-align: center;
  margin-bottom: 10px !important;
}

@media (max-width: 540px) {
  .new-good-form-container {
    padding: 0 7px;
  }

  .new-good-form-paper {
    padding: 10px;
  }

  .new-good-img-preview-box {
    flex-direction: column;
    gap: 8px;
  }

  .new-good-form-paper button,
  .new-good-img-upload-btn {
    font-size: 10px !important;
  }

  .new-good-img-preview-label {
    font-size: 14px;
  }

  .new-manufacture-model-form-modal {
    min-width: 95%;
  }
}
